<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>
  <body class="container">
    <%- include('../partials/header', { page: 'Sobre' }) %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi, meu nome é Pedro Duarte sou programador full-stack</p>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
